<head>
  <link rel="stylesheet" href="/admin style/vendors/feather/feather.css">
  <link rel="stylesheet" href="/admin style/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/admin style/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/admin style/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/admin style/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/admin style/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/admin style/css/vertical-layout-light/style.css">
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="/images/logo.png" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="fw-light">Sign in to continue.</h6>
              <p style="color: red;">{{error}}</p>
              <form class="pt-3" action="/admin/login" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" name="password" required>
                </div>
                <div class="mb-2">
                  <button type="submit" class="btn btn-block btn-facebook auth-form-btn">
                   Log In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
