<head>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
            <div class="text w-100">
              <h2>Welcome to MARAZZO</h2>
              <p>Login with your mobile number/gmail to get started</p>
              <p>Don't have an account?</p>
              <a href="/signup" class="btn btn-white btn-outline-white">Sign Up</a>
            </div>
          </div>
          <div class="login-wrap p-4 p-lg-5">
            <p style="color: red;">{{loginErr}}</p>
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign In</h3>
              </div>

              <div class="w-100">

                <p class="social-media d-flex justify-content-end">
                  <a href="/login" class="social-icon d-flex align-items-center justify-content-center"><span
                      class="fa fa-google"></span></a>
                  <a href="/login" class="social-icon d-flex align-items-center justify-content-center"><span
                      class="fa fa-phone"></span></a>
                </p>
              </div>
            </div>

            <form action="/login" class="signin-form" method="post" id="loginform">

              <div class="form-group mb-3">
                <label class="label" for="name">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email" id="email" required />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="name">Phone Number</label>
                <input type="text" class="form-control" name="phone_number" placeholder="Phone number" id="phone_number" required />
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required/>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">SIGN IN</button>
              </div>

              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                    <input type="checkbox" checked />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">
                  <a href="/forgotpassword">Forgot Password</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>