<link rel="stylesheet" href="/stylesheets/otpverify.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <p style="color: red;">{{err}}</p>
            <h6>Please enter the one time password <br> to verify your account</h6>
            <div> <span>A code has been sent to</span> <small>*******{{number}}</small> </div>
            <form action="/otpverify/{{this.userid}}" method="post">
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1"  oninput="digitValidate(this)" onkeyup="tabChange(1)"  name="otp1" required /> 
                <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1"  oninput="digitValidate(this)" onkeyup="tabChange(2)"  name="otp2" required  /> 
                <input class="m-2 text-center form-control rounded" type="text" id="third"  maxlength="1"  oninput="digitValidate(this)" onkeyup="tabChange(3)"  name="otp3" required /> 
                <input class="m-2 text-center form-control rounded" type="text" id="fourth"  maxlength="1"  oninput="digitValidate(this)" onkeyup="tabChange(4)"  name="otp4" required />
                <input class="m-2 text-center form-control rounded" type="text" id="fifth"  maxlength="1"  oninput="digitValidate(this)" onkeyup="tabChange(5)"  name="otp5" required /> 
                <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1"  oninput="digitValidate(this)" onkeyup="tabChange(6)"  name="otp6" required  /> 
                </div>
            <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 validate">Validate</button> </div>
            </form>
        </div>
    </div>
</div>
<script>
 let digitValidate = function (ele) {
        console.log(ele.value);
        ele.value = ele.value.replace(/[^0-9]/g, '');
      }

      let tabChange = function (val) {
        let ele = document.querySelectorAll('input');
        if (ele[val - 1].value != '') {
          ele[val].focus()
        } else if (ele[val - 1].value == '') {
          ele[val - 2].focus()
        }
      }
</script>