<head>
  <link rel="stylesheet" href="/stylesheets/resetPassword.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body>

  <div class="container" style="margin-top: 70px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="horizontal-container">
          <div class="progress-bar-container">
            <div class="custom-progress-line" style="width: 25%;"></div>
            <ul class="custom-progress-bar clearfix">
              <li class="active">Reset password</li>
              <li>Login</li>
              <li class="finish-line"></li>
            </ul>
          </div>
          <div class="horizontal-form-box">
            <div class="horizontal-info-container text-center">
              <img
                src="https://static.stayjapan.com/assets/top/icon/values-7dd5c8966d7a6bf57dc4bcd11b2156e82a4fd0da94a26aecb560b6949efad2be.svg" />
              <p class="horizontal-heading">Reset your password</p>
              <p class="horizontal-subtitle">Your password needs to be at least 6 characters.</p>
              <p style="color: red;">{{err}}</p>
            </div>
            <form class="horizontal-form" action="/resetpassword" method="post">
              <div class="o3-form-group">
                <label for="new_password">New password</label>
                <input type="password" class="o3-form-control o3-input-lg" id="new_password" name="password" required>
              </div>
              <div class="o3-form-group">
                <label for="confirm_password">Confirm new password</label>
                <input type="password" class="o3-form-control o3-input-lg" id="confirm_password" name="conform_password"
                  required>
              </div>
              <button class="o3-btn o3-btn-primary o3-btn-block" type="submit">Set new password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</body>