@charset "UTF-8";
@import 'https://static.stayjapan.com/assets/dashboard/application-33c1a06b7784b53cd746d479718b6295c0fcefebb696e78dcee7c68efc92fada.css';
.horizontal-container {
  margin: 0 auto;
  width: 100%;
  /* Create circle */
  /* Create line */
  /* Custom progress bar */
}
@media (min-width: 768px) {
  .horizontal-container {
    width: 500px;
  }
}
.horizontal-container .progress-bar-container {
  position: relative;
}
.horizontal-container .progress-bar-container .custom-progress-bar {
  counter-reset: step;
  /* Initial step: 0 */
  padding-left: 0;
}
.horizontal-container .progress-bar-container .custom-progress-bar li {
  float: left;
  font-size: 12px;
  list-style: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.horizontal-container .progress-bar-container .custom-progress-bar li:before {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ccc;
  color: #ccc;
  display: block;
  height: 20px;
  line-height: 18px;
  margin: 0 auto;
  text-align: center;
  width: 20px;
  content: counter(step);
  counter-increment: step;
}
.horizontal-container .progress-bar-container .custom-progress-bar li:after {
  background-color: #e5e5e5;
  content: "";
  height: 3px;
  left: -50%;
  transform: translateX(50%);
  position: absolute;
  top: 9px;
  width: 100%;
  z-index: -1;
}
.horizontal-container .progress-bar-container .custom-progress-bar li:last-child:before {
  display: none;
}
.horizontal-container .progress-bar-container .custom-progress-bar li:last-child:after {
  display: none;
}
.horizontal-container .progress-bar-container .custom-progress-bar li.active:before {
  border-color: red;
  color: red;
}
.horizontal-container .progress-bar-container .custom-progress-bar li.finished:before {
  background-color: red;
  border-color: red;
  color: #fff;
  content: "✓";
}
.horizontal-container .progress-bar-container .custom-progress-line {
  height: 3px;
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: auto;
  background-color: red;
}
.horizontal-container .horizontal-form-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: 466px;
  padding: 30px;
}
.horizontal-container .horizontal-form-box .horizontal-info-container img {
  height: 75px;
  margin-bottom: 20px;
}
.horizontal-container .horizontal-form-box .horizontal-info-container .horizontal-heading {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}
.horizontal-container .horizontal-form-box .horizontal-info-container .horizontal-subtitle {
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: left;
}
.horizontal-container .horizontal-form-box .horizontal-form label,
.horizontal-container .horizontal-form-box .horizontal-form button {
  text-transform: capitalize;
}
.horizontal-container .horizontal-form-box .horizontal-form label {
  color: #000;
  font-weight: normal;
}